*{
    padding: 0;
    margin: 0;
}

html{
    background-color: #141414;
    font-family: "Open Sans";
    color: #fff;
    animation: fade 2s;

}

::-webkit-scrollbar{
    display: none;
}
video::-webkit-media-controls-panel {
    display: none;
}

/* ::-webkit-scrollbar{
    scroll-behavior: smooth;
} */
/* naviagtion background-color: #3c3c3b; */
/* color:#4a4f54; */

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
#jaguar-nav-icon{
    width: 25%;
    float: left;
    margin-right: 5%;
    transform: translateY(-20px);
}

.navigation{
    text-transform: uppercase;
    font-size: 11px;
    background-color: #3c3c3b;
    display: flex;
    position: fixed;
    width: 100%;
    padding-top: 1em;
    z-index: 100;
}

#mobile-menu{
    display: none;
    margin-left: 1em;
}
.nav-links-left li, .nav-links-right li{
    display:inline ;
}
.nav-links-left{
   margin-right: 46%;
   transform: translateY(15px);
}
.nav-links-left li a{
    font-size: 11px;
    margin-right: 20px;
    letter-spacing: 2px;
}

.nav-links-right li a{
    font-size: 11px;
    margin-right: 22px;
    letter-spacing: 2px;
}

#nav-icon{
    transform: translateY(6px);
    margin-right: 10px;
}

/* navigation right - builds link - link #2 dropdown menu */

.builds-dropdown{
    background-color: #fff;
    width: 25%;
    z-index: 99;
    margin-left: 80%;
    padding-top: 5%;
    color: #000;
    position: fixed;
    padding-bottom: 20px;
    display: none;
}
#builds-close-icon{
    margin-left: 70%;
    padding: 5px;
    transition: ease-in-out 0.25s;
}
#builds-close-icon:hover{
    background-color: #F0F3F4;
    cursor: pointer;
    transition: ease-in-out 0.25s;
}
.builds-dropdown-heading h1{
    font-size: 25px;
    font-weight:500;
    margin-left: 5%;
    margin-bottom: 10px;
}
.builds-dropdown img{
    width: 24%;
    margin-right: 10px;
    transform: translateY(25px);
}
.builds-dropdown-links li{
    margin-bottom: 18px;
    margin-left: 5%;
}
.builds-dropdown-links li a{
    color: #000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
}


/* .builds-dropdown li a:hover{
    background-color: ;
} */

/* navigation right - accounts link link #3 dropdown menu */

.account-dropdown{
    background-color: #3c3c3b;
    color: #fff;
    z-index: 99;
    margin-left: 83%;
    padding-top: 4%;
    position: fixed;
    width: 80%;
    display: none;
}
.account-dropdown-links a{
    font-size: 11px;
    margin-left: 25px;
    font-weight: 400;
    transition: ease-in-out 0.5s;
}
.account-dropdown-links a:hover{
    text-decoration: underline;
    transition: ease-in-out 0.5s;
}
.account-dropdown-links li{
    padding-top: 10px;
    padding-bottom: 25px;
}



.navigation-dropdown-box{
    background-color: #fff;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 99;
    display: none;
}
.owners-top-links{
    background-color: #3c3c3b;
}
.navigation-dropdown-box a{
    color: #000;
    font-size: 12px;
    display: inline;
}
/* icon dropdown navigation

/* .more-icon{ */
    /* margin-left: 93%;
    margin-top: 8%;
    z-index: 100;
 } */


/* more navigation three dot icon */

#dropdown-nav-icon{
    background-color: #141414;
    position: fixed;
    padding: 15px;
    margin-left: 96%;
    margin-top: 5%; 
    z-index: 98;
    border-radius: 50%;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.25);
}

/* #dropdown-nav-icon-close{
    background-color: pink;
    position: fixed;
    padding: 20px;
    margin-left: 95%;
    margin-top: 60%; 
    z-index: 100;
    border-radius: 50%;
    display: none;

} */

.icon-dropdown-box{
    background-color: #ffff;
    width: 14%;
    margin-left: 86%;
    z-index: 97;
    position: fixed;
    padding-top: 8%;
    padding-bottom: 27px;
    display: none;
}
.dropdown-links li{
    padding-top:5px;
    padding-bottom: 13px;
}
.dropdown-links a{
    color: #000;
    font-weight: 600;
    font-size: 9px;
    letter-spacing: 2px;
}
.dropdown-links a:hover{
    text-decoration: underline;
}
#dropdown-icon{
    margin-left: 20%;
    margin-right: 8px;
    width: 20px;
    transform: translateY(8px);
}
#dropdown-line{
    width: 80%;
    margin-left: 30px;
}
/* main section */
#main-media-video{
    margin-left:5%;
    width: 90%;
    margin-bottom: 25px;
    margin-top:3%;
}
#main-media{
    margin-left:5%;
    width: 90%;
    margin-bottom: 25px;
    margin-top:3%;
}
.era-section{
    font-size: 12px;
    margin-bottom: 3%;
}
.era-section h1{
    width: 40%;
    font-size: 25px;
    font-weight: 500;
    margin-left: 12%;
}
.era-section h2{
    width: 40%;
    font-size: 25px;
    font-weight: 100;
    margin-left: 15%;
    margin-bottom: 15px;
}
.era-section a, .explore a{
    margin-left: 15%; 
}
.era-section a:hover, .explore a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* 2023 collection section */

.collection-section{
    background-color: #000;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.collection-header h1{
    font-size: 20px;
    margin-left: 12%;
    font-weight: 400;
    letter-spacing: 2px;    
}

.jag-header h1{
    font-size: 20px;
    font-weight: 400;
    margin-left: 15%;
    letter-spacing: 7px;
    margin-bottom: 3%;
}

#design-button{
    background-color: #3c3c3b;
    color: #ffff;
    border: 1px solid #3c3c3b;
    margin-left: 15%;
    width: 9%;
    padding-bottom: 18px;
    padding-top: 10px;
    font-size: 11px;
    transition: ease-in-out 0.5s;
    margin-bottom: 15px;
}
#design-button:hover{
    background-color: #000;
    border: 1px solid #fff;
    transition: ease-in-out 0.5s;
}
#arrow-right{
    transform: translateY(8px);
    margin-right: 10px;
}
.explore{
    font-size: 12px;
}
#right-arrow{
    transform: translateY(9px);
}
.jag-bottom-section {
    display: flex;
    margin-left: 5%;
    padding-bottom: 5%;
}

.jag-lc{
    width: 20%;
    margin-left: 10%;
}

.jag-lc h1{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
}

.exclusive h1{
    font-size: 12px;
    font-weight: 200;
}

#explore-button{
    background-color: #3c3c3b;
    color: #ffff;
    border: 1px solid #3c3c3b;
    width: 80%;
    font-size: 11px;
    transition: ease-in-out 0.5s;
    padding-bottom: 13px;
    margin-top: 20px;
}
#explore-button:hover{
    background-color: #000;
    border: 1px solid #fff;
    transition: ease-in-out 0.5s;
}

.top-bottom-section{
    background-color: #000;
    display: flex;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 15%;
    font-weight: 300;
}
.section-quad{
    margin-right:5%;
    width: 20%;
}
.section-quad a{
    font-size: 15px;
    letter-spacing: 1px;
}
.section-quad a:hover{
    text-decoration: underline;
}
.section-quad:hover{
    cursor: pointer;
}
#bottom-icon{
    display: flex;
    margin-bottom: 15px;
}
.section-text p{
    font-size: 12px;
    margin-left: 10px;
}
.bottom-page{
    background-color: #3c3c3b;
    padding-left: 5%;
    padding-bottom: 10px;
}
/* reatiler page bottom links section */

.bottom-page-inverted{
    background-color: #ffff;
    color: #000;
    padding-left: 5%;
    padding-bottom: 10px;
}
.bottom-blurb-inverted{
    color: #000;
}

.bottom-links-section{
    padding-bottom: 10px;
    display: flex;
}

.bottom-columns{
    margin-right: 15%;
    padding-top: 2%;
}
.link-columns a{
    text-transform: uppercase;
    transition: ease-in-out 1s;
    font-size: 10px;
}

.link-columns a:hover{
    text-decoration: underline;
    transition: ease-in-out 1s;
}


.link-columns  h1{
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 15px;
}
#social-icons{
    width: 15%;
    padding-right: 20px;
}
.more-links{
    display: flex;
    text-transform: uppercase;
    margin-top: 25px;
}

.more-links a{
    font-size: 10px;
    margin-right: 10px;
    font-weight: 500;
    padding-bottom: 50px;
}

.more-links a:hover{
    text-decoration: underline;
}
.bottom-blurb{
    font-weight: 100;
    font-size:9px;
    width: 97%;
}

.bottom-blurb p{
    margin-bottom: 20px;
}
#important-blurb{
    font-weight: 500;
}

/* retailer page */

/* .retailer-section{
    background-image: url("images/jaguar-18.png");
    background-color: #fff;
} */

.middle-section{
    display: flex;
}

/* media queries */
@media (max-width: 1880px){
    .nav-links-left{
        margin-right: 40%;
    }
}
@media (max-width: 1750px){
    .nav-links-left{
        margin-right: 38%;
    }
}
@media (max-width: 1650px){
    .nav-links-left{
        margin-right: 34%;
    }
}
@media (max-width: 1550px){
    .nav-links-left{
        margin-right: 30%;
    }
}
@media (max-width: 1450px){
    .nav-links-left{
        margin-right: 25%;
    }
}
@media (max-width: 1400px){
    .nav-links-left{
        margin-right: 25%;
    }
    #design-button{
        width: 12%;
    }
    .account-dropdown{
        margin-left: 83%;
        padding-top: 4%;
        width: 80%;
    }
    #dropdown-nav-icon{
        margin-left: 94%;
        margin-top: 6%; 
    }
    .era-section a, .explore a{
        margin-left: 70px;
    }
    .era-section h1{
        margin-left: 70px;
    }
    .era-section h2{
        margin-left: 70px;
    }

    .collection-header h1{
        font-size: 22px;
        margin-left: 70px;
    }
    .jag-header h1{
        margin-left: 5%;
        margin-bottom: 5%;
    }
    #design-button{
        margin-left: 5%;
    }
    
}

@media (max-width: 1200px){
    .nav-links-left li, .nav-links-right li{
        display: none ;
    }   
    
    #mobile-menu{
        display: inline;
        margin-left: 1em;
    }
    #jaguar-nav-icon{
        width: 28%;
    }
    #dropdown-nav-icon{
        margin-left: 93%;
        margin-top: 8%; 
    }
    #main-media-video{
        width: 100%;
        margin-left: 0;
        margin-top: 6%;
    }
    #main-media{
        width: 100%;
        margin-left: 0;
    }

    .era-section{
        margin-bottom: 3%;
    }
    .era-section h1{
        margin-left: 50px;
    }
    .era-section h2{
        width: 90%;
        font-size: 28px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    .era-section a, .explore a{
        margin-left: 50px;
    }
    .collection-header {
        margin-bottom:5%;
    }
    .collection-header h1{
        font-size: 22px;
        margin-left: 50px;
    }
    .jag-header h1{
        margin-left: 5%;
        margin-bottom: 5%;
    }
    #design-button{
        margin-left: 5%;
        width: 14%;
    }
    .jag-bottom-section{
        width: 20%;
        display: inline;
    }
    .jag-lc{
        margin-left: 50px;
    }
    .jag-lc h1{
        margin-bottom: 20px;
        font-size: 15px;
    }
    .exclusive{
        margin-left: 50px;
        margin-bottom: 5%;
    }
  
    #explore-button{
        width: 12%;
    }

    .top-bottom-section{
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 5%;
    }
    .section-quad{
        width: 50%;
        padding-bottom: 10%;
    }
    
    .section-quad p{
        margin-top: 10px;
    }
}

@media (max-width: 992px){
    
}

@media (max-width: 768px){
    
}

@media (max-width: 562px){
    
}

@media (max-width: 472px){
    .nav-links-left li, .nav-links-right li{
        display: none ;
    }   
    #mobile-menu{
        display: inline;
        margin-left: 1em;
        transform: translateY(90px);
    }
    #jaguar-nav-icon{
        width: 50%;
    }

    #dropdown-nav-icon{
        background-color: #141414;
        position: fixed;
        padding: 15px;
        margin-left: 70%;
        margin-top: 50%; 
        z-index: 99;
        border-radius: 50%;
        box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.25);
    }
    #main-media-video{
        width: 115%;
        margin-top: 11%;
    }
    #main-media{
        width: 115%;
    }

    .era-section h1{
        font-size: 22px;
        font-weight: 500;
        margin-left: 5%;
    }

    .era-section h2{
        width: 95%;
        font-size: 26px;
        font-weight: 100;
        margin-left: 6%;
        margin-bottom: 10px;
    }
    .collection-section{
        padding-right: 15%;
    }
    #design-button{
        margin-left: 10%;
        width: 35%;
        padding-bottom: 18px;
        padding-top: 10px;
        font-size: 11px;
        margin-bottom: 15px;
    }

    .jag-header h1{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 3%;
        margin-left: 10%;
    }

    .section-quad{
        width: 100%;
        padding-right: 55%;
    }

    .jag-bottom-section {
        margin-left: 5%;
        display: inline-block;
        width: 100%;
    }
    
    .jag-lc{
        width: 100%;
        margin-bottom: 10px;
    }

    
}
